<main>
  <div class="container">
    <div class="row">
      <% if current_user.is_producer %>
        <%= render 'card_scroll', parties: @parties, markers: @markers %>
      <% else %>
        <%= render 'card_scroll', parties: @bookmarks, markers: @markers %>
      <% end %>
    </div>
  </div>
</main>
