<footer class="bg-dark p-5 text-white">
  <div class="container w-80">
    <small data-controller="footer"
          data-footer-usernames-value="[ThiagoCal, magedeungaro, pvbazilio]">
      Coded by
      <span data-footer-target='github'></span>
    </small>
  </div>
</footer>
