<footer class="bg-dark p-5 text-white">
  <div class="container w-80">
    <p data-controller="footer">
      Coded by
      <span data-footer-target='github'></span>
      <a href="https://www.lewagon.com/" class="text-white">@ Le Wagon</a>
    </p>
  </div>
</footer>
