<div class="banner m-0" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://henpartyitaly.com/wp-content/uploads/2017/12/party.jpg);">
  <div class="container">
    <h1>PartyToGo</h1>
    <p>Where you can find the best parties around you!</p>
    <div class="text-center rounded">
      <%= render partial: 'shared/search_bar'%>
    </div>
  </div>
</div>

<section class="dark">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">Looking for a party just got way easier</h1>

    <article class="postcard dark blue">
      <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="https://snazzy-maps-cdn.azureedge.net/assets/72543-assassins-creed-iv.png?v=20170626083519" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#">How it works</a></h1>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Just type the location, the category or the name of the party that you are looking for and we will find it for you! </div>
      </div>
    </article>

    <article class="postcard dark blue">
      <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="https://i.pinimg.com/originals/d2/04/4c/d2044c6216e9267010be52219d1623c5.jpg" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#">Are you a party producer? Join us!</a></h1>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">If you are a producer sign up to our plataform and let everyone know about your party for free! </div>
          <span>
            <%= link_to "Join us now!", new_user_registration_path, class:"btn btn-flat" %>
          </span>
      </div>
    </article>
  </div>
</section>
