@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@700;900&display=swap');
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
}

.banner p {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-top: 15px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
