.scrollable-col{
  height: 80vh;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #9c9c9c18;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #737373a2;
  }
}
